@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto:wght@300;400;500;700&display=swap');
$mainFont: 'Roboto', sans-serif;


//Etiquetas de texto
h1{
    background-color: $bg-h1;
    border-radius: 8px;
    display: inline-block;
    color: $backgrundC;
    padding: 0.3rem;
}

//cards

.card-title{
    color: $backgrundC;
}

.card-text{
    color: $backgrundC;
    font-size: $navBut;
}

.card-border{
    border-radius: 10px;
}

//forms

label, input{
    font-size: $formText;
}

.form-label{
    background-color: $backgrundC;
    border-radius: 8px;
}

//buttoms
.btn-green{
    background-color: $darkGreen;
    color: $backgrundC;
    &:hover{
        background-color: $backgrundC
    }
}

.texto{
    @media (max-width: 992px){
        font-size: $textoSm;
    }
}